<p id="notice"><%= notice %></p>

<h3><%= @document.project.name %></h3>

<p>
  <%= @document.content %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', projects_path %>
