<%= form_for(@project, html: { class: 'col-md-6 col-center' }) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
    <%= f.text_field :name, class: 'form-control', placeholder: 'Nome', size: 50 %>
    <span class="input-group-btn">
      <%= f.submit 'Salvar', class: 'btn btn-primary' %>
    </span>
  </div>
<% end %>
