<div class="row">
  <h3><%= @project.name %></h3>
</div>

<div class="row">
  <% if @project.documents.empty? %>
    <div class="jumbotron text-center">
      <%= bs_icon('folder-open') %><br>
      <h4>No documents created yet</h4>
      <h5>Click + to create a new document</h5>
    </div>
    
  <% else %>

    <div class="documents col-md-12">
      <% @project.documents.each do |d| %>
      <button class="btn btn-default btn-lg">
        <%= bs_icon 'folder-open' %><br>
        <%= d.name %>
      </button>
      <% end %>
    </div>
  <% end %>
  
  <div class="row">
    <div class="col-md-11"></div>
    <div class="col-md-1">
      <%= link_to bs_icon('plus'), new_project_document_path(@project), class: 'btn btn-primary' %>
    </div>
  </div>
</div>
