<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Documents:</strong>
  <%= link_to 'Novo documento', new_project_document_path(@project) %>
  <ul>
    <% @project.documents.each do |d| %>
      <li><%= d.name %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
