<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <%= link_to raw("#{bs_icon 'plus'} Novo"), new_project_document_path(@project), class: 'btn btn-primary' %>
  <br><br>
  
  <% @project.documents.each do |d| %>
  <button class="btn btn-default btn-lg">
    <%= bs_icon 'folder-open' %><br>
    <%= d.name %>
  </button>
  <% end %>
</p>
