<!DOCTYPE html>
<html>
<head>
  <title>Pessworld</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <div class="page-header">
      <h1><%= link_to 'Pessworld', root_path %> <small>Save your passwords...</small></h1>
    </div>
    
    <%= render 'layouts/message' %>
    <div class="col-md-9 col-center">  
      <%= yield %>
    </div>
  </div>

</body>
</html>
